{% extends 'base/employee_base.html' %}
{% block title %}
    <title>Add Products</title>
{% endblock %}
{% block content %}
<form method="POST" enctype="multipart/form-data" id="pform">
    {% csrf_token %}
    <div class="form-group row">
        <label for="productname" class="col-sm-2 col-form-label">Product:</label>
        <div class="col-md-4">
            {{form.name}}
        </div>
    </div>
    <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">Company:</label>
        <div class="col-md-4">
            {{form.company}}
        </div>
    </div>
    <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">Image:</label>
        <div class="col-md-4">
            {{form.image}}
        </div>
    </div>
    <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">Price:</label>
        <div class="col-md-4">
            {{form.price}}
        </div>
    </div>
    <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">Employee:</label>
        <div class="col-md-4">
            {{form.employee}}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4 w-max">
          <button type="submit" class="btn btn-primary">Add Product</button>
        </div>
      </div>

  </form>

  <script>
    $(document).ready(function() {
        $('#pbody').submit(function(e) {
            // e.preventDefault();
            console.log(new FormData())
            $.ajax({
                method : "POST",
                url : "{% url 'add_products_api' %}",
                
                data : {
                    name : $('#id_name').val(),
                    company : $('#id_company').val(),
                    image : $('#id_image').val(),
                    price : $('#id_price').val(),
                    employee : $('#id_employee').val(),
                }
            })
        })
    })
  </script>
{% endblock %}