{% extends 'base/employee_base.html' %}
{% block title %}
    <title>All Products</title>
{% endblock %}
{% block content %}

    <!-- <input id="search" type="text" placeholder="Search.."> -->
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Sr No.</th>
                <th scope="col">Product Name</th>
                <th scope="col">Company Name</th>
                <th scope="col">Product Price</th>
                <th scope="col">Entered By</th>
            </tr>
        </thead>
            <tbody id="product">
                {% for product in object_list %}
                <tr >
                    <th scope="row">{{forloop.counter}}</th>
                    <td class="name">{{product.name}}</td>
                    <td>{{product.company}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.employee}}</td>
                </tr>
                
                {% endfor %}
            </tbody>
    </table>
    
    <nav aria-label="Page navigation">
        <ul class="pagination">       
        {% for page_number in page_obj.paginator.get_elided_page_range %}
            {% if page_number == page_obj.paginator.ELLIPSIS %}
                {{page_number}}
            {% else %}
                <li class="page-item">
                    <a
                    href="{% url 'products' page_number %}"
                    class="{% if page_number == page_obj.number %}current{% endif %} page-link"
                    >
                    {{page_number}}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    </nav>
    
    <!-- <script>
        $(document).ready(function(){
          $("#search").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#product tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
    </script> -->
{% endblock %}