{% extends 'base/employee_base.html' %}
{% block title %}
    <title>Today's Schedule</title>
{% endblock %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <label>Select Date: </label>
    <input type="date" id="schedule_date" name="schedule_date" min={new Date().toISOString().split('T')[0]} value={new Date().toISOString().substr(0, 10)}>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Sr No.</th>
            <th scope="col">Doctor Name</th>
            <th scope="col">Date of Meeting</th>
            <th scope="col">Time of Meeting</th>
            <th scope="col">Entered By</th>
        </tr>
    </thead>
    
    {% for schedule in context %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{schedule.doctor_name}}</td>
            <td>{{schedule.date_of_schedule}}</td>
            <td>{{schedule.time_of_schedule}}</td>
            <td>{{schedule.employee}}</td>
        </tr>
        
    {% endfor %}
</table>

<script type="text/javascript">
    $(function(){
        var dtToday = new Date();
     
        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();
        if(month < 10)
            month = '0' + month.toString();
        if(day < 10)
         day = '0' + day.toString();
        var maxDate = year + '-' + month + '-' + day;
        $('#schedule_date').attr('min', maxDate);
        $('#schedule_date').attr('value', maxDate);
    });
</script>
{% endblock %}